<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </head>
    <body>
    {% load crispy_forms_tags %}
    <div class="container-fluid">
        <div class="col-xs-6">
            <form class="form-horizontal" action="/" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- <div class="form-group">
                    <label for="budget-input" class="control-label">{{ form.budget.label }}</label>
                    {{ form.budget }}
                </div>
                <div class="form-group">
                    <label for="rating-input" class="control-label">{{ form.rating.label }}</label>
                        <select class="form-control" id="rating-input">
                            <option value="4">4 and up</option>
                            <option value="3">3 and up</option>
                            <option value="2">2 and up</option>
                            <option value="1">1 and up</option>
                        </select>
                </div> -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
            </form>
        </div>
        <div class="col-xs-6">
            <h2 style="text-align:center;">Your Beauty Haul</h2>
            <table class="table table-bordered table-hover">
                <tr>
                    <td>Brand</td>
                    <td>Product</td>
                    <td>Price</td>
                </tr>
                {% for item in cart %}
                <tr>
                    <td>
                       {{ item.0 }}
                    </td>
                    <td>
                        {{ item.1 }}
                    </td>
                     <td>
                        {{ item.2 }}
                     </td>

                </tr>
                {% endfor %}
                <!-- <tr><td>{{ cart }} {{ total }} </td></tr> -->
            <tfoot>
                <tr>
                    <td></td><td style="text-align:right;">Total</td><td>{{ total }}</td>
                </tr>
            </tfoot>
            </table>
            <button type="button" class="btn btn-primary">Checkout</button>
            <button type="button" class="btn btn-danger">Clear Basket</button>
        </div>
    </div>
</body>
</html>